<!DOCTYPE html>
<html lang="en">
"prueba"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <title>C A L C U L E R &mdash; Simple Calculator in js</title>
</head>

<body>
    <header class="header">
        <h1>Calculer &mdash; Calculator With JS</h1>
        <p class="operand"></p>
    </header>

    <main class="wrapper">
        <div class="wrapper--result"></div>
        <button class="wrapper--zero" id="number--0" value="0">0</button>
        <button class="wrapper--one" id="number--1" value="1">1</button>
        <button class="wrapper--two" id="number--2" value="2">2</button>
        <button class="wrapper--three" id="number--3" value="3">3</button>
        <button class="wrapper--four" id="number--4" value="4">4</button>
        <button class="wrapper--five" id="number--5" value="5">5</button>
        <button class="wrapper--six" id="number--6" value="6">6</button>
        <button class="wrapper--seven" id="number--7" value="7">7</button>
        <button class="wrapper--eight" id="number--8" value="8">8</button>
        <button class="wrapper--nine" id="number--9" value="9">9</button>
        <button class="wrapper--deleteAll">C</button>
        <button class="wrapper--backspace"><img src="../images/backspace.png" alt="Del"></button>
        <button class="wrapper--plus" value="+">&plus;</button>
        <button class="wrapper--divide" value="/">&divide;</button>
        <button class="wrapper--minus" value="-">&minus;</button>
        <button class="wrapper--times" value="*">&times;</button>
        <button class="wrapper--sin" value="Sin">sin</button>
        <button class="wrapper--cos" value="Cos">cos</button>
        <button class="wrapper--cot" value="Cot">cot</button>
        <button class="wrapper--tan" value="Tan">tan</button>
        <button class="wrapper--log" value="log">log</button>
        <button class="wrapper--equal">&equals;</button>
        <button class="wrapper--mod" value="%">%</button>
        <button class="wrapper--dot" value=".">&CenterDot;</button>
    </main>
    <script src="../src/app.js"></script>
</body>

</html>
