<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;600&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <title>C A L C U L E R &mdash; Simple Calculator in js</title>
</head>

<body>
    <header class="header">
        <h1>Calculer &mdash; Calculator With JS</h1>
    </header>
    <main class="wrapper">
        <div class="wrapper--result">1 + 2 = 3msmsmsm</div>
        <button class="wrapper--deleteAll">C</button>
        <button class="wrapper--backspace"><img src="./images/backspace.png" alt="backspace"></button>
        <button class="wrapper--one">1</button>
        <button class="wrapper--two">2</button>
        <button class="wrapper--three">3</button>
        <button class="wrapper--four">4</button>
        <button class="wrapper--five">5</button>
        <button class="wrapper--six">6</button>
        <button class="wrapper--seven">7</button>
        <button class="wrapper--eight">8</button>
        <button class="wrapper--nine">9</button>
        <button class="wrapper--zero">0</button>
        <button class="wrapper--plus">&plus;</button>
        <button class="wrapper--divide">&divide;</button>
        <button class="wrapper--minus">&minus;</button>
        <button class="wrapper--times">&times;</button>
        <button class="wrapper--sin">sin</button>
        <button class="wrapper--cos">cos</button>
        <button class="wrapper--cot">cot</button>
        <button class="wrapper--tan">tan</button>
        <button class="wrapper--log">log</button>
        <button class="wrapper--equal">&equals;</button>
        <button class="wrapper--mod">%</button>
        <button class="wrapper--dot">&CenterDot;</button>
    </main>
    <script src="../src/app.js"></script>
</body>

</html>